/* slide push menu */

#show-push {
  border: 0 none;
  border-radius: 0;
  float:left;
  margin-right: 12px;  
}

#hide-push {
  background-color: transparent;
  border: 0 none;
  border-radius: 0;
  position: absolute;
  right: 0;
  top:15px;
}

#spmenu {
  background-color: #FFF;
  z-index: 9999;
  overflow-y: scroll;
}

#spmenu-header {
  background-color: #E5E5E5;
  margin: 0;
  padding: 10px 15px;
}
#spmenu .menu-block-wrapper > .menu > li {
  margin: 0;
}


#spmenu .menu-block-wrapper > .menu > li > a {
  border-top: 1px solid #EFEFEF;
  padding: 10px 15px;
  display: block;
  font-weight: bold;
}
#spmenu .menu-block-wrapper > .menu > li li > a {
  display: block;
  padding: 2px 5px 2px 20px;
}

#spmenu .block-menu-block:last-child {
  border-bottom: 1px solid #EFEFEF;
}

#edit-slidepush-screenshot {
  float: right;
}